html { scroll-behavior: smooth;}
body
{
    background-color: #D0F0C0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}
main 
{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding-top: 10vh;
}
#nav_banner {
    width: 100%;
    top: 0;
    z-index: 10;
    position: fixed;
    height: 10vh; 
}
#header_row_container {
    padding-left: 0;
    padding-right: 0;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: rgba(1, 32, 15, .85);
    overflow: visible;
    width: 100%;
}
.header-row
{ display: block;}
.header-container
{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
}
.header-left
{
    justify-content: flex-start;
    display: flex;
    align-items: center;
}
.header-center 
{
    flex-grow: 1;
    justify-content: center;
    display: flex;
    align-items: center;
}
.header-right
{
    justify-content: flex-end;
    display: flex;
    align-items: center;
}
#burger_container
{
    z-index: 999999;
    position: relative;
    display: inline-block;
}
.burger-trigger
{
    display: inline-block;
}
.hamburger
{
    display: flex;
    padding: 0;
    align-items: center;
    overflow: visible;
    margin: 0;
    cursor: pointer;
    text-transform: none;
    border: 0;
    background-color: transparent;
}

.hidden-menu
{display: none;}
.show
{display: block;}
#dropdown-menu {
    position: absolute;
    right: 5vh; /* Aligns it underneath your icon padding */
    top: 100%;  /* Pushes it right below the header bar */
    background-color: rgba(1, 32, 15, 0.95); /* Matches header color */
    min-width: 150px;
    display: none;
    flex-direction: column;
}

#dropdown-menu a {
    color: #D0F0C0;
    padding: 10px 15px;
    text-decoration: none;
}
#dropdown-menu.show-menu 
{
    display: flex;
}

#dropdown-menu a:hover {
    background-color: rgba(208, 240, 192, 0.2);
}
#business_card
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    justify-content:center;
    align-items:center;
    height: 100vh;
    padding-bottom: 30vh;
    font-size-adjust: 1;
    margin: 0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5)
}
#card
{
    background: rgba(255, 255, 255, .2);
    height: 60vh;
    width: 90vh;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: left;
    padding: 20px;
    margin-top: 10vh;
    margin-bottom: 5vh;

    position: relative;
}
#card img
{
    width: 250px;
    height: 250px;
    border-radius: 20%;
    object-fit: cover;
    margin-bottom: 15px;
    border: 2px solid #104F55;

}
#card h1
{
    color:#01200F;
}
#card h2
{
    color:#B1740F;
}
#card h3
{
    color:#B1740F;
}
.social-links
{
    margin-top: 15px;
    position: absolute;
    top: 10%;
    right: 10%;
    display: flex;
    flex-direction: row;
    height: 20%;
    gap: 8px;
}
.social links a
{
    text-decoration: none;
    color: #01200F;
    background: #B1740F;
    border-radius: 5px;
    display: inline-block;
}
.social-links a:hover
{
    background: rgba(255, 255, 255, .5);
}
.contact
{
    display: inline-flex;
    flex-direction: row;
}

/* scroll button CSS */
*
{
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.fade-in-delayed
{
    opacity: 0;
    animation: fadeIn 1s forwards;
    animation-delay: 5s;
}

@keyframes fadeIn 
{
    to {opacity: 1;}    
}

a#scroll-btn
{
    position: absolute;
    height: 6em;
    width: 4.25em;
    border: 0.5em solid #104F55;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 5em;
    border-radius: 3em;
}

a#scroll-btn::before
{
    position: absolute;
    content: "";
    margin: auto;
    left: 0;
    right: 0;
    top: 1em;
    height: 1.2em;
    width: 1.2em;
    background-color: #104F55;
    border-radius: 50%;
    animation: move-down 2s infinite;
}
@keyframes move-down
{
    80% {opacity: 0.5;}
    100% 
    {
        transform: translateY(1em);
        opacity: 0;
    }
}

a#scroll-btn::after
{
    position: absolute;
    content: "Scroll Down";
    width: 16em;
    display: block;
    text-align: center;
    left: -4em;
    bottom: -4em;
    font-size: 0.5em;
    color: #104F55;
    letter-spacing: 1px;
    font-weight: 100;
}

/*@media (max-width:500px) 
{
    a#scroll-btn
    {
        font-size: 12px;
    }    
}
*/
#cert_banner
{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0px;
    width: 100%;
}

.page-banner
{
    position: relative !important;
    overflow: hidden;
    width: 100%;
    max-height: 50vh;

    border-bottom: 2px solid #01200F;
    box-sizing: border-box;
}

.page-banner:last-child
{
    border-bottom: none;
}

.page-banner img
{
    max-width: 100%;
    max-height: 2000px;
    display: block;   
}

.page-banner-label
{
    position: absolute !important;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;

    background-color: rgba(0, 0, 0, 0.6);
    box-sizing: border-box;

    font-size: large;
    font-size-adjust: 2.0;
        
    transform:  translateY(100%);
    transition: transform 0.3s ease-out, background-color 0.2s ease;
}
.banner-link
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 12px 20px;
    box-sizing: border-box;
    text-decoration: none;

    color: #B4EBCA;
    font-size: large;
    font-size-adjust: 2.0;
}

.page-banner:hover .page-banner-label,
.page-banner:focus-within .page-banner-label
{
    transform: translateY(0);
    text-shadow: 6px 6px 10px rgba(0, 0, 0, 0.8)
}

.page-banner-label:hover
{
    background-color: rgba(0, 0, 0, .2);
}

.banner-icon
{
    color: #B4EBCA;
    font-size: 2em;
    transition: transform 0.2s ease-out, color 0.2s ease;
}

.banner-link:hover .banner-icon
{
    transform: translateX(5px);
    color:#FFFFFF;
}
